<div class="message-filed">
  <% if @user.messages.any? %>
    <h3> Messages (<%= @user.messages.count %>)</h3>
    <ol class="messages">
      <% @user.messages.each do |messages| %>
        <li id=<%= "messages-#{messages.id}" %> >
          <div id="messages-content">
            <%= messages.content %>
            <% if messages.picture? %>
              <br/ >
            <% end %>
            <%= image_tag messages.picture.url, :class => "message-picture" if messages.picture? %>
            <%= link_to "delete", messages, method: :delete,
                                         data: { confirm: "You sure?" } %>
          </div>
        </li><br/>
      <% end %>
    </ol>
  <% end %>
</div>
