<h3>Edit user personal info</h3>

  <%= form_for @user, remote: true do |f| %>

    <%= f.label :phone_number %><br/>
    <%= f.text_field :phone_number %><br/>

    <%= f.label :favorite_book %><br/>
    <%= f.text_field :favorite_book %><br/>

    <%= f.label :favorite_film %><br/>
    <%= f.text_field :favorite_film %><br/>

    <%= button_to "Create", type: 'submit', remote: true %>

  <% end %>
