<h2><%= @user.first_name %> <%= @user.last_name %>, <%= @user.email %></h2>

<%= image_tag @user.avatar.url, :id => "avatar" if !@user.avatar.url.nil? %><br/>

<%= render 'personal_info' %>

<%= render 'only_ten_frend' %>

<%= render 'follow_form' if logged_in? %>

<%= render 'shared/message_form' %>

<%= render 'messages/message' %>

<!--<canvas id="cavans"></canvas>

<script>
  var cavans = document.getElementById("cavans");
  cavans.addEventListener("mousedown", initialClick, false);
</script>
