<h2><%= @user.first_name %> <%= @user.last_name %>, <%= @user.email %></h2>

<%= react_component 'UserPage', { user: @user,
                                  user_frends: @user_frends,
                                  user_messages: @user_messages,
                                  feed_items: @feed_items} %>

<%= render 'messages/message_form' %>
<!--<canvas id="cavans"></canvas>

<script>
  var cavans = document.getElementById("cavans");
  cavans.addEventListener("mousedown", initialClick, false);
</script>
