<h2><%= @user.first_name %> <%= @user.last_name %>, <%= @user.email %></h2>

<%= image_tag @user.avatar.url, :id => "avatar" if !@user.avatar.url.nil? %><br/>

<%= link_to "Edit me", edit_user_path if current_user?(@user) %>

<p><%= @user.phone_number %></p>
<p><%= @user.favorite_book %></p>
<p><%= @user.favorite_film %></p>

<%= render 'shared/message_form' %>

<%= render 'messages/message' %>

<script>
$(document).ready(function(){
    $(".message-picture, #avatar").click(function(){
      window.open($(this).attr("src"));
    });
});
</script>
